:local(.tag){
  padding:3px 5px;
  border-radius: 3px;
  border: 1px solid #37B781;
  height: 22px;
  display: inline-block;
  cursor: pointer;
  color: #37B781;
  margin-right: 10px;
  :local(.content){

    font-size: 14px;
    font-weight: normal;;
    line-height: 14px;
    display: inline-block;
  }
  &:hover{
    border: 1px solid #FDAA29;
    color: #FDAA29;
  }
}
