@import '~theme.scss';
@import '~mixins.scss';

:local(.container){
  position: relative;
  margin-top: 40px;

  :local(.columnsNo){
    @include centric;

    :global(.ant-radio-wrapper) {
      margin-right:0;
    }
  }

  :local(.question){
    width: 100%;
  }
  :local(.tag){
    color:#1CB87F;
    position: absolute;
    top:-25px;
    left: 0px;
    border-left: 1px solid $border-grey;
    border-top: 1px solid $border-grey;
    border-right: 1px solid $border-grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 10px;

  }
}
