@import '../../sass_modules/theme.scss';

:local(.container){
  width: 100%;
  height: 100%;

  :local(.loginBody){
    height: calc( 100% - 60px );
    width: 100%;
    // background: url(images/login-background.png) no-repeat center center fixed;
    // background-size: cover;
    // padding-left: 55%;
    // padding-top: 80px;
    overflow-y: auto;
    position: relative;

    >div:first-child{
      height: 100%;
      >div:first-child{
        height: 100%;
        >div:first-child{
          height: 100%;
        }
      }
    }

    :global(.slick-dots){
      bottom: 10px;
    }

    :local(.pic1){
      background: url(images/login-background.png) no-repeat center center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
    :local(.pic2){
      background: url(images/teacher-background.png) no-repeat center center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
    :local(.pic3){
      background: url(images/student-background.png) no-repeat center center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
    :local(.pic4){
      background: url(images/department-background.png) no-repeat center center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    :local(.panel){
      width: 345px;
      height: 390px;
      position: absolute;
      top: 12%;
      left: 60%;
      :local(.logoArea){
        width: 100%;
        height: 80px;
        background-color: $primary-color;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 10px 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        >img{
          transform: scale(1.1);
        }
        >span {
          color: white;
          font-size: 16px;
          height: 100%;
          line-height: 80px;
        }
      }
      :local(.formArea){
        width: 100%;
        height: calc( 100% - 80px );
        background-color: white;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border: 1px solid #DDDDDD;
        border-top: none;
        padding: 30px;
        :local(.loginForm){
          width: 100%;
          :local(.formInput){
            i{
              font-size: 16px;
            }
            input{
              height: 40px;
              font-size: 16px;
            }
          }
          >div:nth-child(2){
            margin-bottom: 50px;
          }
          :local(.loginFormButton){
            width: 100%;
            margin-bottom: 15px;
          }
          :local(.loginFormForgot){
            float: right;
          }
        }
      }
    }
  }

  :local(.footer){
    height: 60px;
    line-height: 40px;
    width: 100%;
    background-color: #606060;
    color: white;
    text-align: center;
    padding: 10px 100px;
    overflow: hidden;
  }
}
