@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 8px;

    :local(.title){
      font-size: 20px;
    }

    :local(.headerOperation){
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  :local(.body){
    @include body;

    :local(.videoContainer){
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      :local(.video){
        width: 70%;
      }
    }
  }
}
