@import "~mixins.scss";

:local(.container){
  border:1px solid #cccccc;
  width: 100%;
  :local(.title1){
		margin:20px;
		border-bottom:1px solid #cccccc;
		:local(.text1){
			font-size:20px;
		}
  }
  :local(.header){
	margin:20px;
    @include headerWithoutFilter;
    justify-content: flex-start;
  }
  
  :local(.body){
    margin:20px;
	border-bottom:1px solid #cccccc;
    :local(.title){
      font-size:20px;
      margin-bottom: 10px;
    }

    :local(.filterItem){
      margin-bottom: 20px;
      display: flex;
      word-break:keep-all;           /* 不换行 */
      white-space:nowrap;          /* 不换行 */
      align-items: center;
    }
  }
  
  :local(.footer){
	margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
:local(.deleteButton){
  @include deleteButton;
}
