@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
  }

  :local(.body){
    @include body;
  }

  :local(.tableColumn){
    @include tableColumn;
  }
}
