@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    border-bottom: 1px solid $border-grey;
    height: 40px;
    padding-bottom: 5px;

    :local(.operationButton){
      background-color: $highlight-color;
      border-color: $highlight-color;
      height: 28px;
    }
  }

  :local(.body){
    @include body;
    display: flex;
    flex-direction: row;
    :local(.treeContainer){
      // width: calc( 100% - 943px );
      @include treeContainer;
    }
  }

  :local(.tableColumn){
    @include tableColumn;
  }
}
