@import "~mixins.scss";
@import "~theme.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    border-bottom: 1px solid $border-grey;
    height: 40px;
    padding-bottom: 5px;
  }

  :local(.body){
    @include body;
    display: flex;
    flex-direction: row;

    :local(.treeContainer){
      // width: calc( 100% - 943px );
      min-width: 235px;
      border-right: 1px solid $border-grey;
      padding: 10px;
      margin-right: 10px;
    }
  }

  :local(.tableColumn){
    @include tableColumn;
  }

  :local(.operationColumn){
    @include tableColumn;
    white-space: nowrap;
  }

  :local(.rejectButton){
    background-color: #b75959;
    border-color: #b75959;
    width: 58px;
    margin-right: 5px;
  }

  :local(.agreeButton){
    background-color: $primary-color;
    border-color: $primary-color;
    width: 58px;
  }
}
