:local(.navigationMini){
  position: relative;
  overflow: visible;
  height: 100%;
  background-color: rgb(56,186,130);
  // min-width: 950px;
  :local(.mask){
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(80,80,80,.5);
  }
  :local(.navigationToggle){
    position:relative;;
    top:0px;
    left:0px;
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    >i{
      font-size: 40px;
      line-height: 47px;
      color: white;
    }
    :local(.avatar){
      display: flex;
      align-items: center;
      position: relative;

      >img{
        width: 25px;
        height: 25px;
        border-radius: 13px 13px;
      }
      :local(.nameDesc){
        color:white;
        font-weight: bold;
        display: block;
        margin-left: 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }
    :local(.decoration){
      display: flex;
      width: 100%;
      justify-content: space-between;
      :local(.logo){
        display:flex;
        align-items: center;
        >img{
          transform: scale(0.85);
        }
      }
    }
  }
  :local(.leftNavigation){
    position: absolute;
    top:0px;
    height: 100vh;
  }
}
