@import "~mixins.scss";
@import "~theme.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;

    :local(.headerOperation){
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      :local(.operationButton){
        background-color: $highlight-color;
        border-color: $highlight-color;
        margin-right: 15px;
        height: 28px;
      }
    }
  }

  :local(.body){
    height: calc( 100% - 40px );
    width: 100%;
    :local(.wrapper){
      position:relative;
      :local(.tableDarkRow){
        @include tableDarkRow;
      }
      :local(.tableLightRow){
        @include tableLightRow;
      }
      :local(.tableColumn){
        @include tableColumn;
      }
      :local(.editColumn){
        @include editColumn;
      }
      :local(.tableMsg){
        @include tableMsg;
      }
    }
  }

  :local(.editButton){
    @include editButton;
  }

  :local(.deleteButton){
    @include deleteButton;
  }
}

:local(.subjectList){
  margin-bottom: 8px;
}

:local(.subjectRadio){
  margin-bottom: 8px !important;
  >span:nth-child(n+2){
    font-size: 14px;
    >span{
      color: $primary-color;
    }
  }
}

:local(.customFilterDropdown){
  @include customFilterDropdown
}
:local(.filterInput){
  @include filterInput
}
:local(.highlight){
  @include highlight
}
