@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;

    :local(.headerOperation){
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  :local(.body){
    @include body;
  }

  :local(.tableColumn){
    @include tableColumn;
  }
  :local(.editColumn){
    @include editColumn;
  }

  :local(.editButton){
    @include editButton;
  }

  :local(.deleteButton){
    @include deleteButton;
  }
}

:local(.editModal){
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  >span{
    margin-right: 10px;
    width: 80px;
  }
}
