@import "~mixins.scss";
@import "~theme.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    :local(.sheetHead){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      >span{
        font-size: 14px;
      }

      >input{
        width: 410px;
        margin-left: 10px;
        margin-right: 20px;
      }
    }
  }

  :local(.body){
    @include body;

    :local(.specialBackground){
      background-color: #FEF8EE;
    }

    :local(.hasBorderTop){
      border-top: 1px solid #D9D9D9;
    }

    :local(.questionContainer){
      width: 100%;
      min-height: 72px;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      :local(.block){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 17px;
        >span:first-child{
          margin-bottom: 5px;
        }
      }

      :local(.verticalLayout){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      :local(.horizontalLayout){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }

  :local(.editButton){
    width: 34px;
    text-align: center;
    padding: 0 4px;
    font-size: 16px;
    height: 28px;
    background-color: $primary-color;
    border-color: $primary-color;
    margin-right: 10px;
    font-weight: bold;
    &:hover{
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  :local(.deleteButton){
    background-color: #DF4B3B;
    border-color: #DF4B3B;
    color: white;
    width: 34px;
    text-align: center;
    padding: 0 4px;
    font-size: 16px;
    height: 28px;
    font-weight: bold;
    &:hover{
      background-color: #DF4B3B;
      border-color: #DF4B3B;
      color: white;
    }
  }

  :local(.customizeButton){
    width: 50px;
    text-align: center;
    padding: 0 4px;
    font-size: 12px;
    height: 28px;
    background-color: $primary-color;
    border-color: $primary-color;
    margin-right: 10px;
    &:hover{
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  :local(.cancelButton){
    background-color: white;
    border-color: $border-grey;
    color: $warning-color;
    width: 76px;
    text-align: center;
    padding: 0 4px;
    font-size: 12px;
    height: 28px;
    &:hover{
      background-color: white;
      border-color: $border-grey;
      color: $warning-color;
    }
  }
}
