@import "~mixins.scss";
@import "~theme.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    border-bottom: 1px solid $border-grey;
    margin-bottom: 0px;
    height: 40px;
    padding-bottom: 5px;
    :local(.right){
      display: flex;
      >div{
        margin-right: 20px;
      }
    }
  }

  :local(.body){
    @include body;
    display: flex;
    flex-direction: row;
    /* height: 370px; */

    :local(.treeContainer){
      width: calc( 100% - 943px );
      min-width: 235px;
      border-right: 1px solid $border-grey;
      padding: 10px;
    }

    :local(.videoContainer){
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 10px 10px 0 10px;

      :local(.videoList){
        padding: 10px;
        width: 100%;
        height: calc( 100% - 60px );
        border-radius: 4px;
        border: 1px solid $border-grey;
        overflow-y: scroll;

        :local(.menu){
          font-size: 14px;
        }

        :local(.videoPanel){
          width: 900px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-top: 10px;
          padding-bottom: 10px;
          >div{
            width: 290px;
            height: 240px;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }
      }
      :local(.videoPagination){
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >span{
          line-height: 60px;
        }
        >div{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
