@import "./theme.scss";

@mixin loading {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin headerWithoutFilter {
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  :local(.searchInput){
    width: 300px;
  }
}

@mixin body {
  height: calc( 100% - 40px );
  width: 100%;
}

@mixin tableDarkRow{
  text-align: center;
  background-color: #F5F5F5 !important;
}

@mixin tableLightRow {
  text-align: center;
  background-color: #FFFFFF !important;
}

@mixin tableColumn {
  text-align: center;
}

@mixin editColumn {
  text-align: center;
  width: 200px
}

@mixin tableMsg {
  //position: absolute;
  //left: 10px;
  //bottom: 25px;
  margin-top: 16px;
}

@mixin editButton {
  background-color: $primary-color;
  border-color: $primary-color;
  margin-right: 10px;
}

@mixin deleteButton {
  background-color: white;
  border-color: $border-grey;
  color: $warning-color;
  &:hover{
    color: white;
    background-color: $warning-color;
    border-color: $warning-color;
  }
}

@mixin customFilterDropdown{
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

@mixin filterInput{
  width: 260px;
}

@mixin filterSelect{
  width: 100px;
}

@mixin highlight{
  color: #f50;
}

@mixin centric {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin treeContainer {
  min-width: 235px;
  border-right: 1px solid $border-grey;
  padding: 10px;
  margin-right: 10px;
}

@mixin question{
  position: relative;
  max-width: 1000px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-grow: 2;
  width: 100%;
  :local(.moveButton){
    position: absolute;
    bottom: 0;
    left: -50px;
    display: flex;
    flex-direction: column;
  }
  :local(.tag){
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    border: 1px solid $border-grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 2px;
    :local(.text){
      writing-mode:tb-rl;
      text-align:left;
      font-size:14pt;
      color: #37B781;
    }
  }
  :local(.footer){
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    padding:10px;
  }
}

@mixin contentMainHeader {
  color: white;
  background-color: $main-header-color;
  height: 42px;

  @include centric
}

@mixin contentSubHeader {
  color: black;
  background-color: $sub-header-color;
  height: 38px;
  border-bottom: 1px $main-header-color solid;

  @include centric
}

@mixin contentRightActionItems {
  height: 38px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px #d9d9d9 solid;

  :local(.rightActionItem:not(:first-child)) {
    margin-left: 10px;
  }

  :local(.rightActionItem:last-child) {
    margin-right: 5px;
  }

  :local(.commitButton) {
    background-color: $primary-color;
    color: white;
  }

  :local(.backButton) {
    background-color: $highlight-color;
    color: white;
  }
}
