/* 全局式样 */
:global(.xhl-edit-column) {
  text-align: center;
  width: 200px
}
:global(.xhl-table-header) {
  height: 35px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;

  :global(.xhl-table-filter) {
    display: flex;
    flex-direction: row;
    :global(.xhl-table-filter-select) {
      width: 200px;
      margin-right: 10px;
    }
    :global(.xhl-table-filter-search) {
      width: 300px;
    }
  }
}