@import "~mixins.scss";
:local(.multipleChoiceQuestion){
  position: relative;
  max-width: 1000px;
  :local(.question){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :local(.answerItem){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :local(.tag){
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    border: 1px solid $border-grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 2px;
    :local(.text){
      writing-mode:tb-rl;
      text-align:left;
      font-size:14pt;
      color: #37B781;
    }
  }
}
