@import "~mixins.scss";
:local(.multipleChoiceQuestion){
  @include question;
  :local(.question){
    width: 100%;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding:20px;
  }
  :local(.answerItem){
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :local(.columnsNo){
    @include centric;

    :global(.ant-radio-wrapper) {
      margin-right:0;
    }
  }
  :local(.columns){
    padding:0px
  }

}
