@import "~mixins.scss";
:local(.noteQuestion){
  @include question;
  :local(.questionContainer){
    border:1px solid $border-grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    :local(.questionNo){
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding:33px 40px;
      border-right: 1px solid $border-grey;
      color:rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }
    :local(.questionContent){
      flex-grow: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color:rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }

  }
  :local(.subQuestionContainer){
    border:1px solid $border-grey;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    padding:10px 40px 10px 10px;
  }
}
