@import "~mixins.scss";
:local(.noteQuestion){
  position: relative;
  max-width: 1000px;

  :local(.questionContainer){
    border:1px solid $border-grey;
    border-radius: 4px;
    display: flex;
    :local(.questionNo){
      display:flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding:33px 40px;
      border-right: 1px solid $border-grey;
      color:rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }
    :local(.questionContent){
      flex-grow: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color:rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }
  }
  :local(.tag){
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    border: 1px solid $border-grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 3px 2px;
    :local(.text){
      writing-mode:tb-rl;
      text-align:left;
      font-size:14pt;
      color: #37B781;
    }
  }
  :local(.footer){
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    padding:10px;
  }
}
