@import "~mixins.scss";
:local(.noteQuestion){
  @include question;
  :local(.questionContainer){
    border:1px solid $border-grey;
    border-radius: 4px;
    display: flex;
    :local(.questionNo){
      display:flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      padding:33px 40px;
      border-right: 1px solid $border-grey;
      color:rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }
    :local(.questionContent){
      flex-grow: 2;
      display: flex;
      justify-content: space-between;;
      align-items: center;
      color:rgba(0, 0, 0, 0.65);
      font-weight: bold;
    }
  }
}
