@import '~mixins.scss';

:local(.loading){
  @include loading;
}

:local(.editHomeworkButton){
  //background-color: $primary-color;
  //border-color: $primary-color;
  margin-right: 5px;
}

:local(.ButtonGroup) {
  :local(Button:not(:first-child)) {
    margin-left: 5px;
  }
}