@import "~mixins.scss";
@import "~theme.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    :local(.operationButton){
      background-color: $highlight-color;
      border-color: $highlight-color;
    }
  }

  :local(.body){
    height: calc( 100% - 40px );
    width: 100%;
    :local(.wrapper){
      position:relative;
      :local(.tableDarkRow){
        @include tableDarkRow;
      }
      :local(.tableLightRow){
        @include tableLightRow;
      }
      :local(.tableColumn){
        @include tableColumn;
      }
      :local(.editColumn){
        @include editColumn;
      }
      :local(.tableMsg){
        @include tableMsg;
      }
    }
  }

  :local(.editButton){
    @include editButton;
  }

  :local(.deleteButton){
    @include deleteButton;
  }
}


:local(.modalHeader){
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
