@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
    :local(.headerOperation){
      display: flex;
      flex-direction: row;
      :local(.operation){
        width: 200px;
        margin-right: 10px;
      }
    }
  }

  :local(.body){
    height: calc( 100% - 40px );
    width: 100%;
    :local(.wrapper){
      position:relative;
      :local(.tableDarkRow){
        @include tableDarkRow;
      }
      :local(.tableLightRow){
        @include tableLightRow;
      }
      :local(.tableColumn){
        @include tableColumn;
        :local(.catalogueColumn){
          display:flex;
          justify-content: space-around;
        }
      }
      :local(.listColumn){
        padding:16px 5px;
        width: 150px;
        text-align: center;
      }
      :local(.editColumn){
        padding:16px 5px;
        width: 200px;
        text-align: center;
        :local(.editAction){
          display: flex;
          justify-content: space-around;
        }
      }
      :local(.tableMsg){
        @include tableMsg;
      }
    }
  }

  :local(.editButton){
    @include editButton;
  }

  :local(.deleteButton){
    @include deleteButton;
  }
}
