@import "~mixins.scss";

:local(.container) {

  :local(.header) {
    @include headerWithoutFilter;

    :local(.filterItems) {
      display: -webkit-flex; /* Safari */
      display: flex;
      flex-direction: row;
      justify-content:flex-end;

      :local(:not(:first-child)) {
        margin-left: 10px;
      }

      :local(.filterSelect) {
        @include filterSelect
      }
      :local(.filterInput) {
        @include filterInput
      }
    }
  }

  :local(.wrapper) {
    height: calc(100% - 40px);
    width: 100%;
    position: relative;

    :local(.tableDarkRow) {
      @include tableDarkRow;
    }
    :local(.tableLightRow) {
      @include tableLightRow;
    }
    :local(.tableColumn) {
      @include tableColumn;
    }
    :local(.tableMsg) {
      @include tableMsg;
    }
  }
}