@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.center){
    :local(.paperContent){
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }

  :local(.header){
    @include headerWithoutFilter;
  }

  :local(.body){
    @include body;
  }

  :local(.tableColumn){
    @include tableColumn;
  }
}
:local(.loading){
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
