@import "~mixins.scss";

:local(.container){
  width: 100%;
  height: 100%;

  :local(.header){
    @include headerWithoutFilter;
  }

  :local(.carouselItem){
    >img{
      width: 100vw;
      max-height: 50vh;
    }
  }
  :local(.hotkey){
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    :local(.buttonGroup){
      display:flex;
      justify-content: center;
      align-items: center;
      :local(.item){
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:20px 10px;
        >img{
          width: 120px;
          height: 120px;
        }
        :local(.button){
          background-color: #535454;
          border-color: #535454;
          color: white;
          margin-top: 10px;
          width: 85px;
        }
      }
    }
    :local(.footer){
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      :local(.content){
        background-color: #F0F0F0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 750px;
        border-radius: 4px;
        padding:5px 10px;
        :local(.left){
          display:flex;
          align-items: center;
          justify-content: space-between;
          width:400px
        }
        :local(.right){
          display: flex;
          align-items: center;
          width: 50px;
        }
      }
    }

  }

  :local(.body){
    @include body;
  }

  :local(.tableColumn){
    @include tableColumn;
  }

}
